<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/css/public.css" media="all">
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <fieldset class="table-search-fieldset">
            <legend>搜索信息</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">开始日期</label>
                            <div class="layui-input-block">
                                <input type="text" name="applyTime" id="date"  placeholder="请选择开始日期"
                                       autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">仓库</label>
                            <div class="layui-input-inline">
                                <select name="depositoryId" >
                                    <option value="" selected>请选择仓库</option>
                                    <option th:each="depository,iterStar:${depositories}" th:value="${depository?.getId()}" th:text="${depository?.getDname()}" >外芯仓库</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">材料名称</label>
                            <div class="layui-input-inline">
                                <input type="text" name="mname" autocomplete="off" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-inline">
                            <button type="submit" class="layui-btn layui-btn-primary" lay-submit
                                    lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>

        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="add"> 添加</button>
                <button class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn" lay-event="delete"> 删除</button>
            </div>
        </script>

        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

        <script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="detail">详情</a>
            <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete">删除</a>
        </script>

    </div>
</div>
<script src="/static/lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
<script>
    var data;
    layui.use(['form', 'table','laydate'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table,
            laydate=layui.laydate;

        //日期
        laydate.render({
            elem: '#date'
        });
        table.render({
            elem: "#currentTableId",
            url: '/depositoryRecord',
            parseData: function (res) { //res 即为原始返回的数据
                return {
                    "status": res.status, //解析接口状态
                    "message": res.statusInfo.message, //解析提示文本
                    "count": res.count, //解析数据长度
                    "data": res.data //解析数据列表
                };
            },
            request: {
                pageName: 'page', //页码的参数名称，默认：page
                limitName: 'size' //每页数据量的参数名，默认：limit
            },
            where: {
                type:"0"
            },
            response: {
                statusName: 'status' //规定数据状态的字段名称，默认：code
                ,statusCode: 200 //规定成功的状态码，默认：0
                ,msgName: 'message' //规定状态信息的字段名称，默认：msg
                ,countName: 'count' //规定数据总数的字段名称，默认：count
                ,dataName: 'data' //规定数据列表的字段名称，默认：data
            },
            toolbar: '#toolbarDemo',
            defaultToolbar: ['filter', 'exports', 'print'],
            //这里layui和thymeleaf冲突了，要加个空格
            cols: [ [
                {type: "checkbox", width: 50},
                {field: 'id', width: 100, title: '申请编号', sort: true},
                {field: 'mname', width: 120, title: '材料名称'},
                {field: 'depositoryName', width: 120, title: '仓库名称', sort: true},
                {field: 'quantity', width: 80, title: '数量', sort: true},
                {field: 'price', title: '金额', minWidth: 80, sort: true},
                {
                    field: 'type', title: '类型', minWidth: 80, sort: true, templet: function (d) {
                        return d.type === 0 ? '出库' : '入库';
                    }
                },
                {field: 'state', width: 150, title: '流程状态', sort: true},
                {field: 'applicantName', width: 150, title: '申请人', sort: true},
                {field: 'applyTime', width: 200, title: '申请时间', sort: true},
                {title: '操作', minWidth: 150, toolbar: '#currentTableBar', align: "center"}
            ]],
            limits: [10, 15, 20, 25, 50],
            limit: 10,
            page: true,
            skin: 'line'
        });

        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
            var req={};
            data=data.field;
            req.type=0;
            if (data.mname!==''){
                req.mname=data.mname;
            }
            if (data.depositoryId!==''){
                req.depositoryId=data.depositoryId;
            }
            if (data.applyTime!==''){
                req.applyTime=data.applyTime;
            }
            //执行搜索重载
            table.reload('currentTableId', {
                url: '/depositoryRecord',
                page: {
                    curr: 1
                }
                , where: req
            }, 'data');
            return false;
        });

        /**
         * toolbar监听事件
         */
        table.on('toolbar(currentTableFilter)', function (obj) {
            if (obj.event === 'add') {  // 监听添加操作
                var index = layer.open({
                    title: '申请提交',
                    type: 2,
                    shade: 0.2,
                    maxmin: true,
                    shadeClose: true,
                    area: ['100%', '100%'],
                    content: '/application_in',
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
            } else if (obj.event === 'delete') {  // 监听删除操作
                var checkStatus = table.checkStatus('currentTableId')
                    , data = checkStatus.data;
                var req={};
                req.ids=[];
                for (i=0,len=data.length;i<len;i++){
                    req.ids[i]=data[i].id;
                }
                $.ajax({
                    url: '/depositoryRecord',
                    type: 'delete',
                    dataType:'json',
                    contentType: "application/json;charset=utf-8",
                    data:JSON.stringify(req),
                    beforeSend:function () {
                        this.layerIndex = layer.load(0, { shade: [0.5, '#393D49'] });
                    },
                    success:function(data){
                        layer.close(this.layerIndex);
                        if(data.status >= 300){
                            layer.msg(data.statusInfo.message);//失败的表情
                            return;
                        }else{
                            layer.msg("删除成功", {
                                icon: 6,//成功的表情
                                time: 500 //1秒关闭（如果不配置，默认是3秒）
                            });
                            //执行搜索重载
                            table.reload('currentTableId', {
                                url: '/depositoryRecord',
                                page: {
                                    curr: 1
                                }
                            }, 'data');
                            return false;
                        }
                    }
                })
            }
        });

        //监听表格复选框选择
        table.on('checkbox(currentTableFilter)', function (obj) {
            console.log(obj)
        });

        table.on('tool(currentTableFilter)', function (obj) {
            let data = obj.data;
            if (obj.event === 'detail') {
                var index = layer.open({
                    title: '入库信息详情',
                    type: 2,
                    shade: 0.2,
                    maxmin: true,
                    shadeClose: true,
                    area: ['100%', '100%'],
                    content: '/form_step_look?id='+data.id,
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
                return false;
            } else if (obj.event === 'delete') {
                var req={};
                req.id=data.id;
                layer.confirm('真的删除么', {icon: 2, title: '提示'}, function (index) {
                    $.ajax({
                        url: '/depositoryRecord',
                        type: 'delete',
                        dataType:'json',
                        contentType: "application/json;charset=utf-8",
                        data:JSON.stringify(req),
                        beforeSend:function () {
                            this.layerIndex = layer.load(0, { shade: [0.5, '#393D49'] });
                        },
                        success:function(data){
                            layer.close(this.layerIndex);
                            if(data.status >= 300){
                                layer.msg(data.statusInfo.message);//失败的表情
                                return;
                            }else{
                                obj.del();
                                layer.msg("删除成功", {
                                    icon: 6,//成功的表情
                                    time: 500 //1秒关闭（如果不配置，默认是3秒）
                                });
                            }
                        }
                    })
                });
            }
        });
    });
</script>

</body>
</html>